<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Guest book page</title>
    </h:head>
    <h:body>
        About me page
        <p>#{guestPageController.controllerName}</p>
        <h:dataTable value="#{guestPageController.applicationController.postsList}" var="post" border="1">
            <h:column>
                <f:facet name="header">Post</f:facet>
                #{post.text}
            </h:column>
            <h:column>
                <f:facet name="header">Autor</f:facet>
                #{post.author}
            </h:column>
            <h:column>
                <f:facet name="header">Create date</f:facet>
                #{post.createDate}
            </h:column>
        </h:dataTable>
        <f:view>
            <h:form>
                <p><h:inputText value="#{guestPageController.author}"/></p>
                <p><h:inputTextarea value="#{guestPageController.text}" rows="10"/></p>
                <p><h:commandButton value="Zapisz" action="#{guestPageController.save}"/></p>
            </h:form>
        </f:view>
    </h:body>
</html>

