<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        #{sessionController.increaseCounter()}
        Hello from Facelets
        <h2>Licznik odwiedzin: <h:outputText value="#{sessionController.counter}"/></h2>
        <p><h:outputText value="#{applicationControllerBean.version}"/></p>
        <p><h:outputText value="#{guestPageController.controllerName}"/></p>
        <p><h:link value="About me" outcome="about.xhtml"/></p>
        <p><h:link value="Guest book" outcome="guest.xhtml"/></p>
        <p><h:outputLink value="guest.xhtml">Nie dziala</h:outputLink></p>
        <p><h:outputLink value="faces/guest.xhtml">Teraz dziala</h:outputLink></p>
    </h:body>
</html>

